<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>NMV Demos</title>
</head>
<body>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script>
  const config = <%- JSON.stringify(config) %>;
  </script>

  <script>
  $.getJSON(config.resource_server + "json/test.json", function(newdata, status) {
    if (status == "success") {
      console.log(newdata)
    } else {
      alert("Failed to load json: " + status);
    }
  });
  </script>

  <h1>Demos Here!</h1>
  <div>(coming soon?)</div>
  <image src=<%=config.resource_server+"images/note.png"%> />

</body>
</html>
